@import './animate.scss';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
// @import url('../src/assets/masking.png');

// /*
// * Skeleton V2.0.4
// * Copyright 2014, Dave Gamache
// * www.getskeleton.com
// * Free to use under the MIT license.
// * http://www.opensource.org/licenses/mit-license.php
// * 12/29/2014
// */


// /* Table of contents
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// - Grid
// - Base Styles
// - Typography
// - Links
// - Buttons
// - Forms
// - Lists
// - Code
// - Tables
// - Spacing
// - Utilities
// - Clearing
// - Media Queries
// */


// /* Grid
// –––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// .container {
//   position: relative;
//   width: 100%;
//   max-width: 960px;
//   margin: 0 auto;
//   padding: 0 20px;
//   box-sizing: border-box; }
// .column, .columns {
//   width: 100%;
//   float: left;
//   box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
// .button:hover,
// button:hover,
// input[type="submit"]:hover,
// input[type="reset"]:hover,
// input[type="button"]:hover,
// .button:focus,
// button:focus,
// input[type="submit"]:focus,
// input[type="reset"]:focus,
// input[type="button"]:focus {
//   // color: #222;
//   // border-color: #888;
//   // outline: 1; 
// }
// .button.button-primary,
// button.button-primary,
// input[type="submit"].button-primary,
// input[type="reset"].button-primary,
// input[type="button"].button-primary {

//   // color: #FFF;
//   // background-color: #33C3F0;
//   // border-color: #33C3F0; 
// }
// .button.button-primary:hover,
// button.button-primary:hover,
// input[type="submit"].button-primary:hover,
// input[type="reset"].button-primary:hover,
// input[type="button"].button-primary:hover,
// .button.button-primary:focus,
// button.button-primary:focus,
// input[type="submit"].button-primary:focus,
// input[type="reset"].button-primary:focus,
// input[type="button"].button-primary:focus {
//   // color: #FFF;
//   // background-color: #1EAEDB;
//   // border-color: #1EAEDB; 
// }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
// input[type="email"]:focus,
// input[type="number"]:focus,
// input[type="search"]:focus,
// input[type="text"]:focus,
// input[type="tel"]:focus,
// input[type="url"]:focus,
// input[type="password"]:focus,
// textarea:focus,
// select:focus {
//   // border: 1px solid #33C3F0;
//   // outline: 0; 
// }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

body {
  font-family: 'Permanent Marker', cursive;
}


h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 15rem;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  color: #555;
  font-size: 5rem;
}
@import './animate.scss';


.container{
  padding: 10px;
  margin: 10px;
}
.bg-image{
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1459233313842-cd392ee2c388?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
  background-size: cover;
}
.bg-image2{
  width: 100vw;
  height: 100vh;
  background-image: url('https://i.imgur.com/8452IOt.png');
  background-size: cover;
}

.dashButtons{
  background-image: url('https://i.imgur.com/S4GgndC.png');
  background-size: contain;
  background-repeat: no-repeat;
  border:1px solid rgba(0, 0, 0, 0);
  background-position: center;
  min-height: 120px;
  min-width: 240px;
  color: black;
  font-size: 28px;
  margin: 0 50px;
  p{
    margin: 0;
  }
}

.pregame-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.pregame-buttons{
  display: flex;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  align-content: center;
  width: 70%;
}

.pregame-instructions{
  max-width: 70%;
  align-self: center;
  justify-self: center;
  border: none;
  outline:none;
}
.dashButtons:hover{
  color: #555555;
}
.dashButtons:focus{
  border: none;
  outline:none;
}

.fpBack {
  width: auto;
  height: 100%;
}

.fullBleed {
  z-index: 1;
  width: auto;
  height: 100%;
}


.fp-wrapper{
  display: flex;
  flex-direction: column;
}

.fp-panes:first-of-type{
  width: 60vw
  
}

.fp-header{
  transform: translateY(-80px);
  display: flex;
  flex-direction: column;
  margin: 20% 25px ;
  h1{
    text-align: center;
    justify-self: center;
  }
}

h4 {
  color: #555;
  font-size: 5rem;
}

.center {
  text-align: center;
  margin: auto;
  max-width: 80vw;
}

.fpBack {
  width: 120%;
  filter: blur(12px);
  -webkit-filter: blur(12px);
  margin: -24px;
  overflow: hidden;
}
 
.fullBleed {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fp-login{
  background-image: url('https://i.imgur.com/P6U1Qvj.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  // position: absolute;
  margin-top: 5%;
  margin-left: 30%;
  width: 400px;
  height: 30vh;
  cursor: pointer;
}



.fp-login2{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 25%;
  right: 0px;
  margin-right: 50px;
  z-index: 3;
  width: 400px;
  height: 50vh;
  // border: 4px solid whitesmoke;
  border-radius: 4px;
}
h5 {
  color: white;
  font-weight: 800;
}

// DASHBOARD

.dashRight{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  bottom: 12%;
  height: 20vh;
  right: 5%;
  width: 80vw;
  margin: 2px;
  // border: 2px solid blue;
}
.h22 {
  text-align: left;
}
.dash{
  height: 100%;
  background-image: url('https://i.imgur.com/8452IOt.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  
}

.dash-header{
  margin: 0 0 0 15%;
}

.hidden{
  //hidden styles main
  display: none;
}
.stage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 95vw;
  height: 80vh;
  margin: 0 auto;
}
.stagingArea{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  // border: 2px solid greenyellow;
  width: 95vw;
  height: 45vh;
  margin: 50px, auto;
}
.choices{
  // margin-top: 50px;
  max-height: 920px;
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.questions{
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.gameBottom{
  width: 100vw;
  z-index: 1;
  bottom: 0px;
  position: fixed;
  min-height: 78px;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translateY(4px);
}
.countDown{
  z-index: 2;
  bottom: 0px;
  position: fixed;
  min-height: 24px;
  background-color: rgb(6, 128, 204);
  padding: 0px;
  transform: translateY(-78px);
  transition: linear 0.2s;
}
.countDownEmpty{
  z-index: 1;
  bottom: 0px;
  position: fixed;
  width: 100vw;
  min-height: 24px;
  background-color: rgb(26, 53, 71);
  transform: translateY(-78px);
}
h2, h3 {
  text-align: center;
}
.endRound{
  width: 60vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  // border: 2px solid rgba(128, 0, 128, 0.288);
  margin: 0 auto;
  align-items: center;
  padding-bottom: 2px;
}
.roundImg{
  max-width: 320px;
  margin: auto;
}
.choiceButtons{
  background-image: url('https://i.imgur.com/S4GgndC.png');
  background-size: cover;
  background-repeat: no-repeat;
  border:1px solid rgba(0, 0, 0, 0);
  background-position: center;
  min-width: 480px;
  max-width: 480px;
  height: 80px;
  margin: 38px;
  font-size: 26px;
  white-space: pre-line;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

.choiceButtons:hover {
  transform: scale(1.05);
}
.choiceButtons:focus {
  border: none;
  outline:none;
}
.nextRound{
  position: relative;
  background-image: url('https://i.imgur.com/S4GgndC.png');
  background-size: cover;
  background-repeat: no-repeat;
  border:1px solid rgba(0, 0, 0, 0);
  background-position: center;
  min-width: 480px;
  max-width: 480px;
  height: 80px;
  margin: auto;
  font-size: 26px;
}
.nextRound:focus{
  border: none;
  outline:none;
}
em {
  font-size: 28px;
}
.flex-row{
  display: flex;
}
.flex-right{
  display:flex;
  flex-direction: column;
  min-width: 50%;
  min-height: 300px;
  padding-left: 12px;
}
.endScreenImg{
  max-width: 180px;
  max-height: 180px;
}
.endScreen{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  // justify-content: space-evenly;
  min-width: 70vw;
  min-height: 40vh;
  overflow: scroll;

  }
.resultsCard{
    max-width: 30vw;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  .end-stage {
    width: 100%;
    height: 100%;
  }
  
  .endScreen{
    // border: red 1px solid;
    display: flex;
    // flex-direction: row;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: space-evenly;
    min-width: 70vw;
    min-height: 40vh;
    overflow: scroll;
  }
  
  .end-screen-top {
    width: 100vw;
    height: 30vh;
    // border: pink 3px dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 100px;
    }
  }
  .end-screen-top-one {
    width: 100%;
    display: flex;
    // border: 2px green dashed;
  
  }
  // .end-screen-top-one-inner {
  //   // background:white;
  //   width: 25%;
  // }
  
  .end-screen-top-one-inner {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     button {
       min-height: 70%;
       min-width: 70%;
       margin: 0;
       font-size: 160%;
     }
  }
  
  .end-screen-top-one-inner:nth-last-of-type(2) {
    width: 50%;
    // background: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .end-screen-top-two {
    // border: red 1px solid;
    display: flex;
    width: 100%;
    justify-content: center;
    h3 {
      margin: 10px;
    }
  }
  
  .end-screen-bot {
    width: 100vw;
    height: 65vh;
    // border: blue 3px dashed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .resultsCard{
    // border: blue 1px solid;
    height: 80px;
    width: 500px;
    max-width: 500px;
    // margin: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
  }
  
  .image-wrapper {
    // border: orchid 1px solid;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .endScreenImg{
    max-width: 100%;
    max-height: 100%;
    border: green 1px border;
    // position: absolute;
    // z-index: 0;
    display: flex;
    align-items: center;
  }
  
  .end-game-check {
    position: absolute;
    z-index: 1;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100px;
    height: 100px;
  }
  
  .end-text-wrapper {
    background: rgba(173, 181, 166, 0.308);
    height: 100%;
    width: 83%;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    div {
      // width: 500px;
    }
    div:nth-of-type(2) {
      height: 80%;
      width: 2px;
      background: black;
    }
    p {
      // border: blue 1px solid;
      width: 250px;
      height: 40%;
      font-size: 20px;
      margin: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
  .end-text-wrapper-two {
    p {
      display: flex;
      flex-direction: column;
      width: 120px;
    }
  }
  
  .check {
    color: rgba(0, 128, 0, 0.6);
    mix-blend-mode: difference;
    height: 100%;
    width: 100%;
    // border: pink 2px dashed;
    font-size: 80px;
  }
  .cross {
    color: rgba(255, 0, 0, 0.6);
    mix-blend-mode: difference;
    height: 100%;
    width: 100%;
    // border: pink 2px dashed;
    font-size: 80px;
  }
  .leaderImg{
    max-width: 90px;
    border-radius: 2px;
  }
  .leaderCard{
    display: flex;
    vertical-align: middle;
    width: 40vw;
    height: 90px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    margin: 5px;
  }
  .middle{
    // margin: auto;
    transform: translate(100px,20px);
  }
  .overScroll{
    overflow: scroll;
  }

   // quick fick of leaderboard for m&g
   .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70vh;
    width: 88vw;
    margin: auto;
    margin-top: 4%;
    position: absolute;
    left: 12%;
    overflow: scroll;
  }